div, img {
  -webkit-user-select: none;
}

body {
  margin: 0px;
  max-width: 288px;
  overflow-x: hidden;
  font: 12px 'lucida grande', helvetica, arial, sans-serif;
}

#main {
  width: 288px;
}

#search {
  width: 284px;
  border: 1px solid #abc;
  padding: 2px 1px;
  margin-bottom: 1px;
}

#search:focus {
  outline: 2px solid #adf;
  -webkit-box-shadow: 0 0 3px #adf;
}

.item {
  width: 286px;
  float: left;
  clear: both;
  padding-top: 3px;
  padding-bottom: 3px;
  cursor: pointer;
  background: #fff;
  border: 1px solid #fff;
  border-radius: 2px;
  -webkit-transition: .2s ease-out;
  -webkit-transition-property: background-color, border-color;
}

.item:hover, .item:focus {
  background: #def;
  border-color: #bdf;
  outline: 0;
}

.item:active {
  border-color: #69f;
}

.selected {
  background: #5bf !important;
  border-color: #3af !important;
  color: #fff !important;
}

.selected:hover, .selected:focus {
  background: #3af !important;
  border-color: #19f !important;
}

img {
  float: left;
  width: 16px;
  height: 16px;
  margin: 0 5px;
}

.title {
  float: left;
  width: 260px;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.close {
  float: left;
  text-align: right;
  width: 12px;
  font: bold 12px verdana, sans-serif;
  margin-top: -1px;
  padding-right: 6px;
  display: none;
}

.item .close {
  color: #567;
}

.item .close:hover {
  color: #000;
}

.selected .title {
  font-weight: bold;
}

.selected .close {
  color: #def;
}

.selected .close:hover {
  color: #fff;
}

.item:hover .title {
  width: 240px;
}
.item:hover .close {
  display: block;
}

.overflow #search {
  width: 270px;
}

.overflow .item {
  width: 272px;
}

.overflow .title {
  width: 246px;
}

.overflow .item:hover .title {
  width: 226px;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar:vertical {
  border-color: transparent;
  background: #fff;
}

::-webkit-scrollbar-thumb:vertical {
  -webkit-border-image: url(scrollbar.png) 14 0 15 0;
  border-color: transparent;
  border-width: 15px 0;
  min-height: 20px;
}
